<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
 
    <appender name="Log4jALAAppender" class="com.github.ptvlogistics.log4jala.Log4jALAAppender">
      <param name="workspaceId" value="YOUR_WORKSPACE_ID"/>
      <param name="sharedKey" value="YOUR_SHARED_KEY"/>
      <param name="logType" value="YOUR_LOG_TYPE"/>
      <param name="azureApiVersion" value="2016-04-01"/>
      <filter class="org.apache.log4j.varia.LevelRangeFilter">
        <param name="levelMin" value="INFO"/>
        <param name="levelMax" value="FATAL"/>
      </filter>
   </appender>
 
  <logger name="Log4jALALogger" additivity="false">
    <appender-ref ref="Log4jALAAppender" />
  </logger>
   
</log4j:configuration>