<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
 
    <appender name="Log4jALAAppender" class="com.github.ptvlogistics.log4jala.Log4jALAAppender">
      <!--mandatory id of the Azure Log Analytics WorkspaceID -->
      <param name="workspaceId" value=""/>
      <!--the primary key Primary Key => OMS Portal Overview/Settings/Connected Sources-->
      <param name="sharedKey" value=""/>
      <!-- the log type... the name of the record type that you'll be creating-->
      <param name="logType" value=""/>
      <!-- The API version of the HTTP Data Collector API -->
      <param name="azureApiVersion" value="2016-04-01"/>
      <filter class="org.apache.log4j.varia.LevelRangeFilter">
        <param name="levelMin" value="INFO"/>
        <param name="levelMax" value="FATAL"/>
      </filter>
   </appender>
 
  <logger name="Log4jALALogger" additivity="false">
    <appender-ref ref="Log4jALAAppender" />
  </logger>
   
</log4j:configuration>