<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
 
    <appender name="Log4jALAAppender" class="com.github.ptvlogistics.log4jala.Log4jALAAppender">
      <!--mandatory id of the Azure Log Analytics WorkspaceID -->
      <param name="workspaceId" value=""/>
      <!--mandatory primary key Primary Key => OMS Portal Overview/Settings/Connected Sources-->
      <param name="sharedKey" value=""/>
      <!-- mandatory log type... the name of the record type that you'll be creating-->
      <param name="logType" value=""/>
      <!-- optional API version of the HTTP Data Collector API (default 2016-04-01) -->
      <param name="azureApiVersion" value="2016-04-01"/>
      <!-- optional async thread pool size (default 1000) -->
      <param name="threadPoolSize" value="1000"/>
      <!-- optional environment: e.g. vm/computer-name or ip
      <param name="environment" value="YOUR_VM_IP_COMPUTERNAME"/>
	  -->
 	  <!-- optional environment: e.g. vm/computer-name or ip
      <param name="component" value="YOUR_COMPONENT_NAME"/>
 	  -->
 	  <!-- optional version of the component
      <param name="version" value="YOUR_COMPONENT_VERSION"/>
 	  -->      
      <!-- optional proxy host
      <param name="proxyHost" value="YOUR_PROXY_HOST"/>
	  -->
      <!-- optional proxy port
      <param name="proxyPort" value="YOUR_PROXY_PORT"/>
	  -->
      <filter class="org.apache.log4j.varia.LevelRangeFilter">
        <param name="levelMin" value="INFO"/>
        <param name="levelMax" value="FATAL"/>
      </filter>
   </appender>
 
  <logger name="Log4jALALogger" additivity="false">
    <appender-ref ref="Log4jALAAppender" />
  </logger>
   
</log4j:configuration>